<h1 id="brand" class="no-margin">
    <a (click)="goBackHome()" class="cursor-pointer">GuiBuilder</a>
</h1>
<div class="page-not-found display-flex flex-direction-y justify-center">
    <div class="row justify-center login-card">
        <div class="column-two-fifths">
            <div class="box is-rounded is-shadowed fill-white">
                <h1 class="title-1 no-margin">404</h1>
                <h2 class="title-3 mt-small">Page not found</h2>
                <p>The page you requested could not be found. You may have mistyped the address of the page may have been moved.</p>
                <button type="button" class="button button-success" (click)="goBackHome()">Go Back Home</button>
            </div>
        </div>
    </div>
</div>