.section-renderer {
  position: relative;

  .section-hover-ribbon {
    position: absolute;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;

    .action-group {
      a {
        margin-right: 5px;
      }

      &.extra {
        a {
          margin-right: 15px;
        }
      }
    }
  }

  .section-renderer-content {
    * {
      pointer-events: none;
    }
  }
}
