<div class="app-component">
    <div class="mb-large" #editorRibbon>
        <button class="button button-success mr-small">New Component</button>
    </div>
    <div class="my-sections">
        <div class="section" *ngFor="let section of sections" [routerLink]="['/builder/editor', section.id]">
            {{section.name}}<br>
            {{section.description}}

            <ul>
                <li *ngFor="let tag of section.tags">{{tag}}</li>
            </ul>
        </div>
    </div>
</div>