.output-container {
  min-height: 150px;
  max-height: 150px;
  background-color: #282828;
  padding: 15px;
  overflow-y: scroll;

  .output-lines {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.section-tokens {
  border-radius: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}