.output-container {
  min-height: 150px;
  background-color: #282828;
  padding: 15px;

  .output-lines {
    display: flex;
    flex-direction: column;
  }
}

.section-tokens {
  border-radius: 0;
}
