<div class="app-page">
  <side-menu></side-menu>
  <div class="app-body">
    <div class="app-header display-flex flex-direction-x justify-between">
      <span class="page-title">{{data.title}}</span>
      <div>
        <dropdown [title]="'Welcome, ' + email" buttonClass="button button-transparent">
          <ul content>
            <li routerLink="settings">
              <a class="cursor-pointer">
                <i class="fa fa-cog"></i>
                <span>Settings</span>
              </a>
            </li>
            <li routerLink="settings">
              <a class="cursor-pointer">
                <i class="fa fa-sign-out text-danger"></i>
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </dropdown>
      </div>
    </div>
    <div class="app-content" [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>