<div class="side-menu">
    <ul>
        <li routerLink="/my-sections" routerLinkActive="active">
            <i class="fa fa-tags fa-2x"></i>
            <span class="link-text">MY SECTIONS</span>
        </li>
        <li routerLink="/editor" routerLinkActive="active">
            <i class="fa fa-code fa-2x"></i>
            <span class="link-text">EDITOR</span>
        </li>
        <li routerLink="/gui-wizard" routerLinkActive="active">
            <i class="fa fa-picture-o fa-2x"></i>
            <span class="link-text">GUI WIZARD</span>
        </li>
        <li routerLink="/about" routerLinkActive="active">
            <i class="fa fa-info fa-2x"></i>
            <span class="link-text">ABOUT</span>
        </li>
    </ul>
</div>