<div class="app-component display-flex display-flex-h">
    <div class="toolbar">
        <div class="toolbar-header">
            Toolbar
        </div>
        <ul class="toolbar-items" #section>
            <li *ngFor="let section of sections; let i = index;" id="section_{{section.id}}" draggable="true">
                {{section.name}}</li>
        </ul>
    </div>
    <div class="design-area">
        <div class="design-area-header">
            Design Area
        </div>
        <div #dropArea class="drop-area">
            <template #sectionContainer></template>
        </div>
    </div>
</div>