<div class="box fill-white is-rounded is-shadowed display-flex flex-direction-y flex-full">
    <div class="form-section">
        <label class="mb-default">Section Tokens</label>
        <button type="button" class="button">Add</button>
    </div>

    <div class="form-section display-flex flex-direction-x align-items-center">
        <input type="text" class="input-element" />

        <a href="#"><i class="fa fa-save fa-lg text-success ml-default"></i></a>
        <a href="#"><i class="fa fa-close fa-lg text-danger ml-default"></i></a>
    </div>

    <div class="wells">
        <div class="well" *ngFor="let token of sectionTokens">
            {{token.name}}
        </div>
    </div>
</div>